@model User
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<h3>Name : </h3>
<p>@Model.FName @Model.LName</p>


<h3>Email : </h3>
<p>@Model.email</p>

<h3>Gender : </h3>
<p>@Model.gender</p>


