@model User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>


<form asp-action="Register" asp-controller="user" method="post">

    <span asp-validation-for="FName" class="text-danger"></span>
<label asp-for="FName" class="form-label">First Name</label>
<input asp-for="FName" class="form-control"/>


    <span asp-validation-for="LName" class="text-danger"></span>
<label asp-for="LName" class="form-label">Last Name</label>
<input asp-for="LName" class="form-control"/>


   <span asp-validation-for="email" class="text-danger"></span>
<label asp-for="email" class="form-label">Email</label>
<input asp-for="email" class="form-control"/>


   <span asp-validation-for="address" class="text-danger"></span>
<label asp-for="address" class="form-label">Address</label>
<input asp-for="address" class="form-control"/>

 <span asp-validation-for="phone" class="text-danger"></span>
<label asp-for="phone" class="form-label">Phone</label>
<input asp-for="phone" class="form-control"/>

 <span asp-validation-for="gender" class="text-danger"></span>
<label asp-for="gender" class="form-label">Gender</label>
<select asp-for="gender" class="form-control">
    <option value="Male">Male</option>
    <option value="FeMale">FeMale</option>
</select>

 <span asp-validation-for="pass" class="text-danger"></span>
<label asp-for="pass" class="form-label">Password</label>
<input asp-for="pass" class="form-control"/>

 <span asp-validation-for="confirmpass" class="text-danger"></span>
<label asp-for="confirmpass" class="form-label">Confirm Password</label>
<input asp-for="confirmpass" class="form-control"/>

<input style="margin-top:20px; background-color:#1363DF; color:white; border:1px solid #1363DF;text-align:center; height:45px; width:150px" type="submit" value="Register" />

</form>


    @section Scripts{
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}